
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<div class="container my-5">
    <div class="text-center">
        Payment Details
    </div>
    <p>Status:<span class="text-primary text-center">{{status}}</span></p>
    <p>Payment Id:<span class="text-primary">{{invoice_id}}</span></p>
    <p>By:<span class="text-primary">{{by}}</span></p>
    <p>Time:<span class="text-primary">{{time}}</span></p>
</div>
