{% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}
<!-- dispaly heading -->
<!-- <h1 class="display-1">This is dispaly 1</h1>
<h1 class="display-2">This is dispaly 2</h1>
<h1 class="display-3">This is dispaly 3</h1> -->
<!-- lead text -->
<!-- <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

<p class="lead text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
<p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
<p class="lead text-end">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> -->

<!-- text colours -->
<!-- <p class="text-primary">theme primary colour</p>
<p class="text-secondary">theme secondary colour</p>
<p class="text-info">theme info colour</p>
<p class="text-warning">theme warning colour</p>
<p class="text-success">theme warning colour</p>
<p class="text-danger">theme danger colour</p>
<p class="text-muted">theme danger colour</p>

<p class="text-white bg-primary">Hello bigspace</p> -->
<!-- buutons -->
<!-- <button class="btn  btn-primary ">Add</button> -->
<!-- anchor tags as buttons -->
<!-- <a href="#" class="btn btn-info">Create</a> -->
<!-- button sizes -->
<!-- <h2>Button sizes</h2>

<button class="btn btn-lg btn-primary">large danger button</button>
<button class="btn btn-sm btn-secondary">small warning button</button>
<h2>Button outlines</h2>
<button class="btn btn-outline-secondary">Outlined buttons</button>
<h2>Button groups</h2>
<div class="btn-group">
    <a href="#" class="btn btn-primary">ADD</a>
    <a href="#" class="btn btn-secondary">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>
</div> -->
<!-- margin & padding -->
<!-- <div class="btn btn-primary m-5 p-5">This is small marigin</div>
<div class="btn btn-primary mt-2 mb-2 pt-3 pb-5 ps-5">This is for each  marigin</div>
<h1>Borders</h1>
<div class="m-3 p-3 rounded-pill border border-2">this is default border</div> -->
<!-- shadows -->
<!-- <div class="m-3 p-3 shadow-lg">This box shadow</div> -->
<!-- <h2>containers</h2> -->
<!-- <div class="container my-5">
    <h2 >this is normal container</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa magni quas voluptatem voluptatibus nesciunt quis voluptate suscipit voluptas velit nulla.</p>
</div> -->

<div class="container-lg my-5">
    <div class="row">
        <div class=" col-sm-4">
            <div class="p-3 bg-secondary text-info">Google</div>
        </div>
        <div class=" col-sm-4">
            <div class="p-3 bg-secondary text-info">Facebook</div>
        </div>
        <div class=" col-sm-4">
            <div class="p-3 bg-secondary text-info">Github</div>
        </div>
    </div>
</div>
{% endblock %}